[Package]
version: 4
depends: 

[Product]
type: localboot
id: dfn_citavi
name: Citavi
description: Literaturverwaltungsprogramm zum Recherchieren, PDF-Dokumente managen, Zitate sammeln, Wissen organisieren, Bibliographien automatisch erstellen, im Team arbeiten. // Citavi is a reference management program for Microsoft Windows
advice: Dies installiert die Testversion, fuer die Lizensierung zur Vollversion bitte beim Institut/Anbieter nachfragen. // This is a test version, to upgrade to a full license please ask your institution/provicer.
version: 6.10.0.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: dfn_dotnet
requiredStatus: installed
requirementType: before

[ProductProperty]
type: unicode
name: type-of-license
multivalue: False
editable: False
description: 'site-license-file' uses the common.dat6 file which has to be placed in the custom folder. "testversion" installs the test version which can be activated with the individual licence code provided on the citavi.com website to everyone with an email address from the domain of the licensed institute.
values: ["site-license-file", "testversion"]
default: []

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: True
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: True
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: bool
name: disable-word-addin
description: Setting the value to "true" means that Citavi AddIn is disabled in Microsoft Word
default: False

[ProductProperty]
type: bool
name: disable-citavi-account
description: Setting the value to "true" means that login into Citavi account is not possible
default: True

[ProductProperty]
type: bool
name: disable-auto-check-for-live-update
description: Setting the value to 'true' means that Citavi is not allowed to check for automatic updates.
default: True

[ProductProperty]
type: bool
name: disable-ceip
description: Setting the value to 'true' means that no user data will  be send to Citavi
default: True

[ProductProperty]
type: bool
name: disable-add-on-store
description: Setting the value to 'true' means that the Add-On Manager (Tools > Manage add-ons) and the online macros for the Citation Style Editor will be made invisible or blocked. The manual installation of add-ons by registry key will not be affected.
default: False

[ProductProperty]
type: unicode
name: delete-user-settings-on-shutdown
multivalue: False
editable: True
description: Setting the value to 1 ("Always") means that the user settings are always deleted when Citavi is closed (even if the user remains logged in). The user will also be logged out every time Citavi is closed if this option is selected; Setting the value to 2 ("Never") means that user settings are never deleted when Citavi is closed (even if the user logs out); Setting the value to 0 ("Default") or no value means that the user settings will be deleted when users log out of their accounts.
values: ["0", "1", "2"]
default: ["0"]

[ProductProperty]
type: bool
name: disable-welcome-screen
description: The first time they start Citavi 6, users will not see the Welcome Screen which helps them convert their projects from previous versions.
default: False

[ProductProperty]
type: bool
name: desktopicon
description: generate or delete DesktopLink
default: True

[ProductProperty]
type: unicode
name: silent_option
multivalue: False
editable: False
description: Un/Install silent (/qb!) or very silent (/qn); Show progressbar of installer or not
values: ["/qb!", "/qn"]
default: ["/qb!"]

[Changelog]
dfn_citavi (6.10.0.0-4) stable; urgency=low

SilentOption hinzugefügt. Dank an Waldemar Münz <muenz@luis.uni-hannover.de>

 -- Robert Strötgen <r.stroetgen@tu-braunschweig.de>  Fri, 07 Jan 2022 14:11:35 +0000

dfn_citavi (6.10.0.0-3) stable; urgency=low

Kleine Anpassungen an Deaktivieren des Word Addins

 -- Robert Strötgen <r.stroetgen@tu-braunschweig.de>  Fri, 07 Jan 2022 11:55:28 +0000

dfn_citavi (6.10.0.0-2) stable; urgency=low

Property zum Deaktivieren des Word Addins ergänzt

 -- Robert Stroetgen <r.stroetgen@tu-braunschweig.de>  Mon, 03 Jan 2022 15:46:23 +0000

dfn_citavi (6.10.0.0-1) stable; urgency=low

Update 6.10.0.0

 -- Robert Stroetgen <r.stroetgen@tu-braunschweig.de>  Mon, 12 Jul 2021 11:24:34 +0000

dfn_citavi (6.8.0.0-1) stable; urgency=low

Update 6.8.0.0

 -- Robert Strötgen <r.stroetgen@tu-braunschweig.de>  Mon, 18 Jan 2021 15:26:17 +0000

dfn_citavi (6.7.0.0-1) stable; urgency=low

Update 6.7.0.0

 -- Robert Stroetgen <r.stroetgen@tu-braunschweig.de>  Mon, 02 Nov 2020 08:33:38 +0000

dfn_citavi (6.4.0.0-2) stable; urgency=low

Removed old license pool stuff

 -- Robert Strötgen <r.stroetgen@tu-braunschweig.de>  Tue, 31 Mar 2020 10:33:20 +0000

dfn_citavi (6.4.0.0-1) stable; urgency=low

Update Citavi 6.4

 -- Robert Strötgen <r.stroetgen@tu-braunschweig.de>  Thu, 05 Mar 2020 11:03:44 +0000

dfn_citavi (6.3.0.0-2) stable; urgency=low

Update Citavi 6.3

 -- Robert Stroetgen <r.stroetgen@tu-braunschweig.de>  Thu, 17 Jan 2019 16:12:14 +0000

dfn_citavi (6.2.0.0-2) stable; urgency=low

Update Citavi 6.2

 -- Robert Stroetgen <r.stroetgen@tu-braunschweig.de>  Mon, 17 Sep 2018 13:50:56 +0200

dfn_citavi (6.1.0.0-2) stable; urgency=low

Umstellung auf Citavi 6, dafuer zuaetzliche properties eingefuegt.

 -- Robert Stroetgen <r.stroetgen@tu-braunschweig.de>  Tue, 08 May 2018 12:16:50 +0200

dfn_citavi (5.7.1.0-1) stable; urgency=low

Update auf 5.7.1.0, MSI getauscht.

 -- Robert Stroetgen <r.stroetgen@tu-braunschweig.de>  Thu, 15 Feb 2018 12:01:32 +0200

dfn_citavi (5.7.0.0-1) stable; urgency=low

Update auf 5.7.00, MSI getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 27 Sep 2017 15:46:36 +0000

dfn_citavi (5.6.0.2-1) stable; urgency=low

Also common.dat5 files are accepted now.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 01 Aug 2017 11:54:07 +0000

citavi (3.3-1) testing; urgency=low

  * Initial package

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 07 Nov 2012 14:16:42 +0000
